BackEnd/BatteryAdvisor.Api/bin
BackEnd/BatteryAdvisor.Api/obj
BackEnd/BatteryAdvisor.Api.Tests/obj
BackEnd/BatteryAdvisor.Api.Tests/bin
BackEnd/BatteryAdvisor.Core/bin
BackEnd/BatteryAdvisor.Core/obj
BackEnd/BatteryAdvisor.Core.Tests/obj
BackEnd/BatteryAdvisor.Core.Tests/bin
BackEnd/BatteryAdvisor.Core.Contracts/bin
BackEnd/BatteryAdvisor.Core.Contracts/obj
BackEnd/BatteryAdvisor.HA/bin
BackEnd/BatteryAdvisor.HA/obj
BackEnd/BatteryAdvisor.HA.Tests/bin
BackEnd/BatteryAdvisor.HA.Tests/obj
BackEnd/BatteryAdvisor.HA.Contracts/bin
BackEnd/BatteryAdvisor.HA.Contracts/obj
BackEnd/BatteryAdvisor.Host/bin
BackEnd/BatteryAdvisor.Host/obj
BackEnd/BatteryAdvisor.Host.Tests/bin
BackEnd/BatteryAdvisor.Host.Tests/obj
BackEnd/BatteryAdvisor.Host/BatteryAdvisor.db
BackEnd/BatteryAdvisor.Host/BatteryAdvisor.db-shm
BackEnd/BatteryAdvisor.Host/BatteryAdvisor.db-wal


TestResults

Frontend/node_modules
Frontend/dist

BackEnd/BatteryAdvisor.Host/config/appsettings.Local.json