<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Exclude>[BatteryAdvisor.Api]BatteryAdvisor.Api.ApiModuleExtensions</Exclude>
          <Exclude>[BatteryAdvisor.Api]BatteryAdvisor.Api.Program</Exclude>
          <Exclude>[BatteryAdvisor.Core]BatteryAdvisor.Core.Migrations*</Exclude>
          <ExcludeByAttribute>ExcludeFromCodeCoverageAttribute;GeneratedCodeAttribute;CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/obj/**;**/*.g.cs;**/*.generated.cs;**/Migrations/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
