<div class="p-5 flex justify-center">
  <div class="flex flex-col gap-2">
    <label for="username">Home Assistant URL</label>
    <input
      pInputText
      id="username"
      class="w-96"
      [ngModel]="homeAssistantUrlSignal()"
      (ngModelChange)="homeAssistantUrlSignal.set($event)"
    />

    <label for="password">Home Assistant Long-Lived Access Token</label>
    <input
      pInputText
      id="password"
      type="password"
      autocomplete="off"
      class="w-96"
      [ngModel]="homeAssistantTokenSignal()"
      (ngModelChange)="homeAssistantTokenSignal.set($event)"
    />

    <p-button label="Test Connection" (onClick)="testConnection()" />
  </div>
</div>
